 /* black = #0000000
           2 gray = #212121
            3 #303030
            4 #424242 */

 body {
     background-color: #171819;
     color: #fff;
 }
 .protein-container{
    margin-top: 70px;
 }

 .protein-container h1 {
     text-align: center;
     padding: 20px;
 }

 .protein-card {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .protein-card .card {
     width: 400px;
     height: 210px;
     border: none;
     background: #424242;
     border-radius: 10px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
     text-align: center;
     margin: 10px;
 }

 .protein-card .card h2 {
     font-size: 20px;
     font-weight: bolder;
     padding-top: 20px;
     text-transform: uppercase;
 }

 .protein-card .card .inner {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     padding-top: 30px;
 }

 .protein-card .card .inner .fa-plus {
     color: #FF4545;
 }

 .formula {
     background-color: #FF4545;
     width: 150px;
     padding: 5px;
     font-size: 20px;
     font-weight: 800;
     display: block;
     margin: 10px auto;
     border: none;
     border-radius: 50px;
 }

 .protein-card .card2 p {
     font-size: 20px;
     font-weight: 600;
     padding: 10px 20px; 
 }

 .protein-foods {
     margin-top: 10px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .protein-foods img {
     width: 40px;
     height: 40px;
     margin-right: 10px;
 }

 .food {
     display: flex;
     align-items: center;
     font-size: 16px;
     font-weight: bolder;
 }

 .focus h1 {
     text-align: center;
     padding: 20px;
 }

 .focus-card {
     width: 80%;
     display: block;
     margin: 50px auto;
 }

 .focus-card .card {
     border: none;
     background: #424242;
     border-radius: 10px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
     margin: 10px;
     position: relative;
 }

 .focus-card .card h2 {
    font-size: 20px;
     background: #FF4545;
     width: 200px;
     border-radius: 5px;
     position: absolute;
     left: 40%;
     top: -20px;
     margin: 0 auto;
     text-align: center;
     padding: 5px;
 }

 .carbs-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .carbs {
     margin-top: 15px;
     padding: 10px;
 }

 .carbs img {
     width: 150px;
     height: 150px;
     display: block;
     margin: 5px auto;
 }

 .carbs h3 {
     font-size: 30px;
     font-weight: 800;
     text-align: center;
     padding: 20px;
 }
.one-carb p{
    text-align: center;
}
 .carbs h4 {
     font-weight: 800;
     padding: 10px;
     text-align: center;
 }

 .pre-workout p {
     font-size: 20px;
     font-weight: bold;
     text-align: center;
 }

 .pre-workout img {
     width: 100%;
     margin-bottom: 30px;
 }

 .pre-workout span {
     font-size: 20px;
 }

 .pre-workout ul {
     font-size: 20px;
     font-weight: bold;
 }

 .pre-workout ul li {
     padding: 7px;
 }


 @media screen and (max-width: 1042px) {
     .carbs-container {
         flex-direction: column;
     }
     .focus-card .card h2 {
       width: 150px;
       font-size: 20px;
    }
 }

 @media screen and (max-width: 496px){
    .focus-card .card h2 {
        left: 20%;
        top: -20px;
    }
 }